.product-cat-class
{
	padding:30px;
	text-align: center;
}
.ze-vc-product-filter
{
	/*margin:0px 30px;*/
}
.filter-container
{
	  /*padding: 50px 15px 50px 100px;*/
}
.event-container
{
	  /*padding: 50px 100px 50px 10px;*/
}
.filter-container .product-cat-class
{
	padding:45px;
	text-align: center;
	background-color: #ffffff;
	margin-bottom: 2px;
}
.filter-container .product-cat-class {
    background: #ffffff;
}
.filter-container .product-cat-class.selected,.filter-container .product-cat-class:hover
{
	background-color: #ff2f4c;
}
.event-item
{
	/*background-color: #ffffff;*/
	margin-right: 5px;
	text-align: center;
}
.product-image-holder
{
	padding: 0 5px 10px;
}
.product-cat-class a
{
	text-decoration: none;
	color: #033337;
}
.product_count_info
{
	text-align: right;
}
/*.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
*/
/*---GENERAL CSS---*/
.product-filter-info-inner {
    margin-bottom: 20px;
}
#event-container .event-item{ 
  margin: 0 !important;
  padding: 0 !important;
}
.event-container{    
    float: left;
    width: 100%;
}
@media  (min-width: 769px) {
  .event-container.col-filter {    
    width: 83.3333333333%;    
    float: left !important;
  }
}
@media  (max-width: 767px) {
	#event-container .event-item {
	    position: initial !important;
	}
	#event-container{
		text-align:center;
	}
}

@media (min-width:769px) and (min-width:1024px){
  .filter-container .product-cat-class {
      font-size: 11px;
  }
  .ze-vc-product-filter .col-left .cat-icon i {
      font-size: 29px;
  }
}


/*----FILTER ON TOP----*/
.row-filter.row-top .product-cat-class {
    display: inline-block;
    padding:10px 20px;
}
.event-item {
    margin: 0px;
}
.filter-container.row-filter.row-top .product-cat-class {
    margin-right: 4px;
}

/*icon left*/
.row-filter.row-top.icon-left .cat-icon img {
    width: 20px;
    margin-right: 10px;
}


.icon-left .cat-icon {
    float: left;
}



.icon-left .cat-title {
    float: right;
}
/*icon right*/
.row-filter.row-top.icon-right .cat-icon img {
    width: 20px;
    margin-left: 10px;
}

.icon-right .cat-icon {
    float: right;
}

.icon-right .cat-title {
    float: left;
}

/*---FILTER ON LEFT----*/
/*--icon left--*/
.filter-container.col-left.icon-left .product-cat-class {
    padding: 10px 20px;
    float: left;
    width: 100%;
}

.filter-container.col-left.icon-left .product-cat-class .cat-icon img {
    width: 20px;
}
/*--icon right--*/
.filter-container.col-right.icon-left .product-cat-class {
    padding: 10px 20px;
    float: left;
    width: 100%;
}

.filter-container.col-right.icon-left .product-cat-class .cat-icon img {
    width: 20px;
}
/*--FILTER ON RIGHT---*/
.filter-container.col-right {
    float: right;
}



/*---Modified for demo porpose---*/
.filter-container.col-left {
    padding: 0;
    margin: 0 15px;
}

.filter-container .product-cat-class {
    padding: 25px 10px;
}

@media  (min-width: 768px) {
  .event-container.col-filter {    
    width: 87.666667%;
  }
}
/*=======Set icon to product category========*/

.ze-vc-product-filter .col-left .cat-icon i {
    font-size: 45px;
}
.ze-vc-product-filter .col-left .cat-icon i {
    font-size: 45px;
}

.ze-vc-product-filter .col-left .cat-icon {
    max-height: 65px;
    top: -10px;
    position: relative;
}

.filter-container .product-cat-class.selected a div, .filter-container .product-cat-class:hover a div {
    color: #fff;
}

.ze-vc-product-filter .filter-container .col-left.icon-top .product-cat-class {
    padding: 15px 10px;
}

.filter-container .product-cat-class:hover {
    transition: background .2s ease-in;
}
.filter-container .product-cat-class{transition: background .2s ease-in;}
@media (max-width:767px){
  .product-filter-info-inner h2,.product-filter-info-inner .product_count_info {
    text-align: center;
  }

  .filter-container .product-cat-class {
      padding: 3px 10px;
  }

  .ze-vc-product-filter .col-left .cat-icon {
      max-height: 33px;
      top: -6px;
  }

  .ze-vc-product-filter .col-left .cat-icon i {
      font-size: 30px;
  }
  #event-container {
    text-align: center;
    margin-top: 20px;
  }
}

.ze-vc-product-filter .filter-container.align-right {
    text-align: right;
}

.ze-vc-product-filter .filter-container.align-center {
    text-align: center;
}

